@import "../../styles/variables";
@import "../../styles//generic";

.login_container{
    background-color: $background-color;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &_login{
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .6rem;
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 16px 17px 15px -23px rgba(0,0,0,0.1),-23px -16px 33px -23px rgba(0,0,0,0.1);

        &_form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            
            &_div{
                width: 100%;
            }
            &_login_loader{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0rem;
            }
        }
    }
}