@import "../../../styles/variables";

    .loader{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: $background-color;
    }