@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');
@import '../../styles/variables';

.appRouter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 300px;
    height: 100vh;
    border: 1px solid;
    z-index: 30;
    padding: 1rem;

    .app_logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img{
            width: 4rem;
            height: 3rem;
        }
        .logo_text{
            font-size: 2.2rem;
            font-family: 'Rubik Glitch Pop', system-ui;
            color: $white;
        }
    }

    .app_sidebar{
        display: flex;
        flex-direction: column;
        background-color: $sub-background-color;
        padding: 2rem;
        border-radius: 1rem;
        gap: 2rem;

        .profile{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

            .profile_picture{
                width: 3rem;
                height: 3rem;
                background-color: $white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img{
                    width: 2rem;
                    height: 2rem;
                }
            }

            .profile_text{
                display: flex;
                flex-direction: column;
                gap: .3rem;

                .pf{
                    font-size: 1rem;
                    font-weight: 600;
                    color: $white;
                    line-height: 1;
                }
                .pu{
                    font-size: .8rem;
                    color: $text-grey;
                    line-height: 1;
                }
            }
        }

        .sidebar_links_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1.5rem;

            .sidebar_link{
                display: flex;
                align-items: flex-end;
                gap: .8rem;
                border-bottom: .05rem solid $light-text-grey;
                border-radius: 5px 5px 0 0;
                width: 100%;
                padding: .5rem;
                transition: $transition_basic;

                .sl_icon{
                    font-size: 1.7rem;
                    color: $light-red;
                }
                .sl_text{
                    font-size: 1rem;
                    color: $white;
                }
            }
            .sidebar_link:hover{
                background-color: rgba(185, 180, 199, 0.2);
            }
        }
    }
}