$white: #ffffff;
$text-grey: #424769;
$light-text-grey: #B9B4C7;
$light-grey: #d2cedb;
$background-color: #1E1E1E;
$sub-background-color: #292929;
$light-red: #FCAEAE;
$mid-red: darken($light-red, 10%);
$transition_basic: all ease-in-out 300ms;